<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IScreen" 
                         maxBufferPoolSize="2147483647" 
                         maxBufferSize="0x7FFFFFFF" 
                         maxConnections="10"
                         maxReceivedMessageSize="2147483647">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="2147483647"
                        maxBytesPerRead="2147483647" maxNameTableCharCount="16384" />
                    <reliableSession ordered="true" inactivityTimeout="00:10:00"
                        enabled="false" />
                    <security mode="Transport">
                        <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign" />
                        <message clientCredentialType="Windows" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:8090/ScreenService" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IScreen" contract="ServiceReference1.IScreen"
                name="NetTcpBinding_IScreen">
                <identity>
                    <userPrincipalName value="YAR\Administrator" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>